.about {
  background-color: rgb(18, 30, 39);
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}
h1 {
  display: flex;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0.03rem;
}
.logo-continer {
  margin-top: 10px;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.logo {
  color: #ff715b;
  font-size: 2rem;
  padding-right: 1rem;
  opacity: 1;
  transition: 0.3s;
}
.logo:hover {
  color: white;
  opacity: 1;
}
.about p {
  color: rgb(199, 199, 199);
  margin-top:10px;
  font-weight: 300;
  letter-spacing: 0.06rem;
  font-size: 1.2rem;

}
.about div:last-child {
  max-width: 42vw;
}

.underline--magical {
  background-image: linear-gradient(120deg, #ff715b 0%, #ff715b 100%);
  background-repeat: no-repeat;
  background-size: 8.1em 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 8.1em 88%;
}

@media all and (max-width:992px){
  h1{
    font-size: 2em;
  }
  .about p {
    font-size: 1em;
  }
  .about div:last-child {
    max-width: 70vw;
  }
}